.head{
   
    text-align: center;
    border: 1px solid rgb(182, 179, 179);
    margin:  0;
    font-weight: 500;
    padding-top: 0.8rem;
    font-size: 20px;
}
.main_block{
    display: flex;
}
.main_block .text_content{
    margin: auto 0;
    margin-left: 2rem;
}
tbody > img{
    display: inline-block !important;
}
.section{
    display: flex;
}